body {
	margin: 0px;
}

*{
	box-sizing: border-box;
}
.page{
	width:100%;
}
.page-content{
	background: #f4f5f0;
	margin-top: 10px;	
	border-top: 2px solid #e5e4e0;
}
.head{
	width: 100%
}
.head-bar{
	padding-bottom: 20px;
	margin-bottom: 12px;
	border-bottom: 1px solid #e5e4e0;
}
.heading{
	display: inline-block;
	color: #f12a03;
	font-size: 32px;
	padding-left: 15px;
	padding-right: 10px;
}
.search {
    padding:6px 64px;
    border:1px solid #dbdbdb;
}
.search-button{
    position:relative;
    padding:5px 14px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.heading-text{
	float: right;
}

.sign-in{
	display: inline-block;
}
.cart{
	display: inline-block;
	font-size: 14px;
	border-left: 1px solid lightgrey;
	padding-left: 10px;
}
.heading-texti{
	color:#45c5d6;
	font-size: 14px;
}
.heading-textii{
	padding-left: 10px;
	padding-right: 10px;
	color: #45c5d6;
	font-size: 14px;
}
.sign-in{
	padding-right: 10px;
	color:#45c5d6; 
	font-size: 14px;
}
.option{
	padding-right: 27px;
	font-size: 15px;
	color: #c4c4c4;
}

.text{
padding-top: 23px;
padding-left: 12px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 14px;
border-top: 1px solid lightgrey;
}
.main-start-bar{
	margin-top: 15px;
	padding-right: 33px;
	font-size: 13px;
}
.text-1{
	font-weight: bold;
	margin-top: 15px;
	font-size: 13px;
}
.text-2{
	color: #45c5d6;
}
.main-start{
	float: left;
}
.shift{
	float: right;
}
.text-3{
	text-align: right;
	padding-left:450px;
}
.text-4{
	text-align: right;
	color: #45c5d6;
}
.side{
	vertical-align: text-top;
}
ul{
	padding-left: 0px;
}
.side-bar{
	margin-top: 9px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid lightgrey;
	background: white;	
}
.first{
	padding-left: 8px;
	margin-bottom: 5px;
	margin-top: 2px;
	color: #101010;
	font-size: 13px;
	font-weight: bold;
}
li{
	list-style: none;
	padding-left: 20px;
	color: #45c5d6;
	font-size: 13px;
	margin-top: 8px;
	
}
.item img{
	margin-bottom: 3px;
}
.item{
	margin: 10px;
	width:225px;
	border: 1px solid black;
	display: inline-block;
	background: white;

}
.title{
	font-size:13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 3px;
	background: white;
}
.shop{
	font-size:13px;
	color:#d7d7d7;
	display: inline;
	margin-bottom: 10px;
	background: white;
}
a{
	text-decoration: none;
	color: #d7d7d7;
}
.cost{
	display: inline;
	font-size: 13px;
	color: #84c04f;
	margin-bottom: 10px;
	float: right;
	background: white;
	}
.cost::before{
	content: "$";
}
.end-bar{
	margin-top: 7px;
}
.end-text{
	font-size: 14px;
}
.more-options{
	margin-top: 7px;
	color: #45c5d6;
	font-size: 13px;
}
.etc{
	display: inline-block;
	width: 250px;
}
.etci{
	display: inline-block;
	width: 250px;
}
.etcii{
	display: inline-block;
	
}
.num{
	float: left;
}
.shop-options{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13px;
}
.names{
	color: #45c5d6;

}